image: : ubuntu:20.04

services:
  - postgres:15

variables:
  POSTGRES_USER: admin
  POSTGRES_PASSWORD: admin
  POSTGRES_DB: edu
  DATABASE_PORT: 54328
  DATABASE_HOST: localhost
  POSTGRES_SSL: disable
  POSTGRES_TIMEZONE: Asia/Tehran
  POETRY_VIRTUALENVS_CREATE: "false"  # This is to ensure poetry uses the system Python


cache:
  paths:
    - ~/.cache/pip/


before_script:
  - apt -y update
  - apt -y install apt-utils
  - apt -y install net-tools python3 python3-pip
  - apt -y upgrade

  # Install Poetry
  - python -m pip install poetry

  # Install project dependencies
  - poetry install

  # Run migrations
  - poetry run python manage.py migrate

stages:
  - test

run-tests:
  stage: test
  script:
    - poetry run pytest