variables:
  USE_SQLITE: 1
  POETRY_VIRTUALENVS_CREATE: "false"  # This is to ensure poetry uses the system Python

default:
  image: python:3.10

#  cache:
#    paths:
#      - ~/.cache/pip/

  before_script:
    - rm -rf "%CACHE_PATH%/%CI_PIPELINE_ID%"
    - add-apt-repository ppa:deadsnakes/ppa -y
    - apt-get -yq update
    - apt-get -yq install python3 python3-pip
    - pip install -U pip setuptools
    - pip install --upgrade poetry
    - poetry install

migrations:
  stage: build
  script:
    - poetry run python3 manage.py migrate


django-tests:
  stage: test
  script:
    - poetry run pytest



