variables:
  POSTGRES_USER: admin
  POSTGRES_PASSWORD: admin
  POSTGRES_DB: edu
  DATABASE_PORT: 54328
  DATABASE_HOST: localhost
  POSTGRES_SSL: disable
  POSTGRES_TIMEZONE: Asia/Tehran
  POETRY_VIRTUALENVS_CREATE: "false"  # This is to ensure poetry uses the system Python

default:
  image: python:3.10

  services:
    - postgres:12.2-alpine

  cache:
    paths:
      - ~/.cache/pip/

  before_script:
    - apt-get -yq update
#    - apt-get -yq install software-properties-common
#    - add-apt-repository -y ppa:deadsnakes/ppa
#    - apt-get -yq update
#
#    - apt-get -y upgrade
    - apt-get -yq install python3.10 python-pip
    - python -m pip install poetry
    - poetry install


migrations:
  stage: build
  script:
    - poetry run python manage.py migrate


django-tests:
  stage: test
  script:
    - poetry run pytest




