variables:
  POETRY_VIRTUALENVS_CREATE: "false"  # This is to ensure poetry uses the system Python
  POSTGRES_DB: edu
  POSTGRES_USER: admin
  POSTGRES_PASSWORD: admin
  DJANGO_DATABASE_HOST: postgres
  CACHE_ENDPOINT: redis
  PGPORT: 54328 # Change the default port of postgres

services:
  - name: postgres:latest
    alias: postgres
  - name: redis:7.2.2-alpine
    alias: redis

stages:
  - test
  - deploy

before_script:
  - pip install -U pip setuptools
  - pip install --upgrade poetry
  - poetry install


test:
  stage: test
  script:
    - poetry run python manage.py migrate
    - poetry run pytest


deploy:
  stage: deploy
  only:
    - master
  script:
    - docker-compose down
    - docker-compose -f .\docker-compose-prod.yml up --build -d
