version: "3.8"

services:
  postgres:
    image: postgres:15.3-alpine
    hostname: ${DATABASE_HOST}
    container_name: EDU
    command: -p ${DATABASE_PORT} # Change the default port
    ports:
      - ${DATABASE_PORT}:${DATABASE_PORT}
    env_file:
      - ".env"
    restart: always
    volumes:
      - postgres:/var/lib/postgresql/data

  redis:
    image: redis:7.2.2-alpine
    hostname: redis
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

  minio:
    image: minio/minio
    hostname: "minio"
    volumes:
      - minio:/minio_files
    env_file:
      - ".env"
    command: 'minio server /minio_files --console-address ":9001"'
    ports:
      - "9000:9000"
      - "9001:9001"

  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    env_file:
      - ".env"
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc config host add myminio http://minio:9000 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD};
      /usr/bin/mc mb --quiet myminio/photos;
      /usr/bin/mc anonymous set none myminio/photos;
      "


volumes:
  postgres:
  minio: